.logo{
    img{
        vertical-align: middle;
    }

    span{
        vertical-align: middle;
        font-size: 28px;
        font-weight: 300;
        padding-left: 10px;
        color: #000;
    }
}

.miniLogo{
    height: 32px;
    width: 32px;
}