.login{
    padding-top: 150px;
    width: 250px;
    margin: 0px auto;
    .loginForm{
        padding-top: 5px;
        width: 250px;
        .loginFormButton {
            width: 100%;
        }
    }
}