.rowActive{
    .linkOperate{
        float: right;
        display: block;
        padding-right: 15px;;
    }
}

.linkDisplay{
    color: #1890ff;
    cursor: pointer;
}

.linkOperate{
    display: none;
}
